body {
  /*background-color: rgb(255, 255, 255);*/

  background-image: url("#");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1 {
  color: black;
}

.active {
  color: tomato;
}

.clicked {
  color: tomato;
}

.hidden {
  display: none;
}
